<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %>

<script src="js/onClick.js"></script>
<script src="js/list.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
<% include partials/page/header.ejs %>

  <h1><%= pagetitle %> -- <b><%= title %></b></h1>
  <p><a href="/calculator">Back to cart</a></p>

<form action="/calculator/form" method="post">
  <label><%= search %></label>
  <input type="text" name="searchDB"/>
  <button type="submit">Search</button>
  
</form>
 
<form action="/calculator/food" method="post">
  <p align="left">
  <select multiple size="20" name="food" style="width: 400px;">
      <% for(var i = 0; i < searchArray.length; i++) { %>
        <option value="<%= searchArray[i] %>"><%= searchArray[i] %></option>
      <% } %>
    </select>
    Number of servings
    <select name="amount">quantity
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <button type="submit">Add</button>
  </p>
</form>
    
    <h1><%= incart %></h1>
    <p>
      <select multiple size="20" style="width: 400px;">
        <% for(var i = 0; i < cart.length; i++) { %>
          <option value="test"><%= cart[i] %></option>
        <% } %>
      </select>
      Calculate the calories in your cart
      <button type="submit" value="calcbutton">Calculate</button>
    </p>


  <% include partials/page/footer.ejs %>
  <% include partials/page/jsdefaults.ejs %>
</body>
</html>