<!DOCTYPE html>
<html>
<head><% include partials/page/head.ejs %></head>
<body>
  <% include partials/page/header.ejs %>
  <% include partials/page/nav.ejs %>
  
  <% if (!user) { %>
	    <p><h4>Welcome to our App!</h4>
         Please <a href="/login">log in</a>.</p>
  <% } else { %>
    	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
      
  <div class="col-lg-7">
    <h1><%= pagetitle %>Details Page</h1> 
    <table border="1" width="100%"> 
      <tr>
        <th width="50%">NDB Number</th> 
        <td><%= row.NDB_No %></td>
      </tr>
      <tr>
        <th width="50%">Short Description</th> 
        <td><%= row.Shrt_Desc %></td>
      </tr>
      <tr>
        <th width="50%">GmWt Desc1</th>
        <td><%= row.GmWt_Desc1 %></td>
      </tr> 
      <tr>
        <th width="50%">GmWt Desc2</th>
        <td><%= row.GmWt_Desc2 %></td>
      </tr> 
      <tr>
        <th width="50%">Energy (Kcal)</th>
        <td><%= row.Energ_Kcal %></td>
      </tr>
      <tr>
        <th width="50%">Water (g)</th>
        <td><%= row['Water_(g)'] %></td>
      </tr>
      <tr>
        <th width="50%">Protein (g)</th>
        <td><%= row['Protein_(g)']%></td>
      </tr>
      <tr>
        <th width="50%">Carbohydrate (g)</th>
        <td><%=row['Carbohydrt_(g)'] %></td>
      </tr>
      <tr>
        <th width="50%">Fiber (g)</th>
        <td><%= row['Fiber_TD_(g)']%></td>
      </tr>
      <tr>
        <th width="50%">Total Sugar (g)</th>
        <td><%=row['Sugar_Tot_(g)'] %></td>
      </tr>
      <tr>
        <th width="50%">Saturated Fat (g)</th>
        <td><%=row['FA_Sat_(g)'] %></td>
      </tr>
      <tr>
        <th width="50%">Cholesterol (mg)</th>
        <td><%= row['Cholestrl_(mg)']%></td>
      </tr>
    </table>
  <div>
  
  <% include partials/page/footer.ejs %>
  <% include partials/page/jsdefaults.ejs %>
  
</body>
</html>