<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="../public/js/onClick.js"></script>
  <script src="../app.js"></script>
  <script src="../routes/api.js"></script>
  <script src="../routes/index.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Nutrition Database</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="home.ejs">Home</a></li>
        <li><a href="../../calc.ejs">Calc</a></li>   
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Login <span class="glyphicon glyphicon-log-in"></span></a>
          <div class="dropdown-menu">
            <form id="formLogin" class="form container-fluid">
              <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
              </div>
              <button type="button" id="btnLogin" class="btn btn-block">Login</button>
            </form>
            <div class="container-fluid">
              <br>
              <a class="small" href="#">Forgot password?</a>
            </div> 	
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="col-lg-7">
    <h1><%= pagetitle %></h1> 
    <table border="1" width="100%"> 
      <tr>
        <th width="50%">NDB Number</th> 
        <td><%= row.NDB_No %></td>
      </tr>
      <tr>
        <th width="50%">Short Description</th> 
        <td><%= row.Shrt_Desc %></td>
      </tr>
      <tr>
        <th width="50%">GmWt Desc1</th>
        <td><%= row.GmWt_Desc1 %></td>
      </tr> 
      <tr>
        <th width="50%">GmWt Desc2</th>
        <td><%= row.GmWt_Desc2 %></td>
      </tr> 
      <tr>
        <th width="50%">Energy (Kcal)</th>
        <td><%= row.Energ_Kcal %></td>
      </tr>
      <tr>
        <th width="50%">Water (g)</th>
        <td><%= row['Water_(g)'] %></td>
      </tr>
      <tr>
        <th width="50%">Protein (g)</th>
        <td><%= row['Protein_(g)']%></td>
      </tr>
      <tr>
        <th width="50%">Carbohydrate (g)</th>
        <td><%=row['Carbohydrt_(g)'] %></td>
      </tr>
      <tr>
        <th width="50%">Fiber (g)</th>
        <td><%= row['Fiber_TD_(g)']%></td>
      </tr>
      <tr>
        <th width="50%">Total Sugar (g)</th>
        <td><%=row['Sugar_Tot_(g)'] %></td>
      </tr>
      <tr>
        <th width="50%">Saturated Fat (g)</th>
        <td><%=row['FA_Sat_(g)'] %></td>
      </tr>
      <tr>
        <th width="50%">Cholesterol (mg)</th>
        <td><%= row['Cholestrl_(mg)']%></td>
      </tr>
    </table>
  <div>
</body>
</html>