<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %>

<script src="js/onClick.js"></script>
<script src="js/list.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
<% include partials/page/header.ejs %>
<% include partials/page/nav.ejs %>

  <p><a href="/calculator">Back</a></p>

<form action="/calculator/form" method="post">
  <label><%= search %></label>
  <input type="text" name="searchDB"/>
  <button type="submit">Search</button>
  
</form>
 
<form action="/calculator/food" method="post">
  <p align="left">
  <select multiple size="20" name="food" style="width: 400px;">
      <% for(var i = 0; i < searchArray.length; i++) { %>
        <option value="<%= searchArray[i].name %>"><%= searchArray[i].name %></option>
      <% } %>
    </select>
    Number of servings
    <select name="amount">quantity
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
    <button type="submit">Add</button>
  </p>
</form>
    
    <h1><%= incart %></h1>    
    
    <table border="1" >
      <tr>
        <th>Food</th><th>Serving Size</th><th>Calories (per serving)</th><th>Sugar (per serving)</th><th>Protein (per serving)</th><th>Carbs (per serving)</th>   
      </tr>
    <% for (var i = 0; i < cart.length; i++) { %>
      <tr>
        <td><%= cart[i] %></td>
        <td><%= serving[i] %></td>
        <td><%= object[i].cal %></td>
        <td><%= object[i].sugar %></td>
        <td><%= object[i].pro %></td>
        <td><%= object[i].carbs %></td>
        
        <% totalCal = totalCal + (object[i].cal * serving[i]); %>
        <% totalPro = totalPro + (object[i].pro * serving[i]); %>
        <% totalSugar = totalSugar + (object[i].sugar * serving[i]); %>
        <% totalCarbs = totalCarbs + (object[i].carbs * serving[i]); %>
        
    <% } %>
    </table>
    
    <h2><%= total %></h2>   
    <table border="1" >
    </tr>  
      <tr>
      <th>Calories</th><th>Sugar (grams)</th><th>Protein (grams)</th><th>Carbs (grams)</th>
        <tr>
          <td><%= totalCal.toFixed(0) %></td>
          <td><%= totalSugar.toFixed(2) %></td>
          <td><%= totalPro.toFixed(2) %></td>
          <td><%= totalCarbs.toFixed(2) %></td>
        </tr>
      </tr>
    </table>
    
    
    


  <% include partials/page/footer.ejs %>
  <% include partials/page/jsdefaults.ejs %>
</body>
</html>