<!DOCTYPE html>
<html>
<head><% include partials/page/head.ejs %></head>
<body>
  <% include partials/page/header.ejs %>
  <% include partials/page/nav.ejs %>
  
  <% if (!user) { %>
	    <p><h4>Welcome to our App!</h4>
         Please <a href="/login">log in</a>.</p>
  <% } else { %>
    	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
  
<div class="col-lg-7">
  <p>
    <form action"/home" method="get">
      <input type="text" name="searchText" />
      <button type="submit">Search</button>
    </form>
  </p>
    <table border="1" width="100%"> 
      <tr>
        <th width="25%">Number</th> 
        <th width="25%">Shrt_Desc</th> 
        <th width="25%">GmWt_Desc1</th> 
        <th width="25%">GmWt_Desc2</th> 
      </tr>
      <% rows.forEach(function(item){ %>
      <tr>
        <td><a href="/details/<%= item.NDB_No %>"><%= item.NDB_No %></a></td> 
        <td><%= item.Shrt_Desc %></td> 
        <td><%= item.GmWt_Desc1 %></td> 
        <td><%= item.GmWt_Desc2 %></td> 
      </tr>
      <% }); %>
    </table>
  <div>
    <p>
      <a href="/home?page=1">First</a> 
        <% if( page === 1) { %>
          <a href="/home?page=1">Prev</a>
        <% } else { %>
          <a href="/home?page=<%= page - 1 %>">Prev</a>
          <% } %>
        <a class="active" href="/home?page=<%= page %>"><%= page %></a> 
        <a href="/home?page=<%= page + 1 %>"><%= page + 1 %></a> 
        <a href="/home?page=<%= page + 2 %>"><%= page + 2 %></a>      
        <a href="/home?page=<%= page + 3 %>"><%= page + 3 %></a>
        <% if( page === length ) { %>  
          <a href="/home?page=<%= page %>">Next</a>
        <% } else { %>  
          <a href="/home?page=<%= page + 1 %>">Next</a> 
        <% } %> 
        <a href="/home?page=<%=length %>">Last</a> 
    </p>
  </div>
      
  <% } %>
  
  <% include partials/page/footer.ejs %>
  <% include partials/page/jsdefaults.ejs %>
</body>
</html>